.herobanner {
    min-height: 90vh;
    width: 100%;
    background-color: white;
    z-index: 1;

    &__header {
        position: relative;
        height: 60vh;
        background: url(../img/zesvetleny70.png);
        background-position: center;
        background-size: cover;
        width: 100%;

        &__text-section {
            position: absolute;
            top: 20%;
            left: 5%;

            h1 {
                color: $tercialy-color;
                text-shadow: 2px 2px $primary-color;
            }

            h2 {
                color: $primary-color;
                text-shadow: 1px 1px $tercialy-color;

                margin-bottom: 40px;
            }
            a {
                font-size: 2rem;
                padding: 10px 20px;
                background-color: $secondary-color;
                color: $tercialy-color;

                &:hover {
                    background-color: $tercialy-color;
                    color: $secondary-color;
                }
            }
        }
    }

    &__pozice {
        text-align: center;
        width: 80%;
        height: 30vh;
        margin: 0 auto;
        background-color: $tercialy-color;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        grid-gap: 20px;

        &__item {
            margin: 20px;
            min-width: 100%;
            border: 1px solid $primary-color;
            border-radius: 25px;

            h1 {
                margin-top: 45px;
                font-size: 2rem;
            }

            p {
                margin-bottom: 25px;
                padding: 0 10px;
            }

            a {
                font-size: 1.5rem;
                color: $secondary-color;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:nth-child(2) {
                background-color: $fourth-color;
                color: $tercialy-color;
            }
        }
    }
}
