.nabizena-pozice {
    min-height: 70vh;
    background-color: $tercialy-color;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #order1 {
        order: 1;
    }

    #order2 {
        order: 2;
    }
    &__text-section {
        width: 45%;
        padding: 0 25px;
        text-align: center;
        // order: 2;

        h1 {
            font-size: 4rem;
            color: $secondary-color;
            text-shadow: 1px 1px $primary-color;
        }

        ul li {
            text-align: start;
            font-size: 1.5rem;
            padding: 10px;
            margin-left: 150px;
            list-style: disc;

            span {
                color: blue;
                font-weight: 800;
            }

            &::marker {
                color: $secondary-color;
            }
        }
    }

    img {
        order: 1;
        width: 50%;

        align-self: center;
        border-radius: 25px;
    }
}
