// NAVBAR

//navbar mobil css
.mobile-navbar {
    display: none;
}
.web-navbar {
    display: block;
}

nav {
    height: 10vh;
    width: 90%;

    img {
        position: absolute;
        z-index: 100;
        left: 1rem;
        top: 1rem;
    }

    .menu-btn {
        position: absolute;
        z-index: 10;
        right: 1.5rem;
        top: 1.5rem;
        height: 20px;
        width: 28px;
        cursor: pointer;
        @include transition-ease;

        &__burger {
            position: absolute;
            right: 0;
            top: 0.5rem;
            width: 28px;
            height: 3px;
            color: $primary-color;
            background: $primary-color;
            @include transition-ease;

            &::before {
                content: "";
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background: $primary-color;
                @include transition-ease;
            }
            &::after {
                content: "";
                position: absolute;
                top: 8px;
                width: 20px;
                height: 3px;
                background: $primary-color;
                @include transition-ease;
            }

            &.open {
                transform: rotate(720deg);
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(5px, 8px);
                }

                &::after {
                    width: 28px;
                    transform: rotate(-45deg) translate(3px, -7px);
                }
            }
        }
    }

    .nav {
        position: absolute;
        top: 0;
        // top: -100%;
        left: 0;
        width: 100vw;
        opacity: 1;
        visibility: hidden;
        z-index: 10;

        &.open {
            visibility: visible;
            // transform: translateY(100%);
            // @include transition-ease;
        }

        .menu-nav {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            background: $secondary-color;
            list-style-type: none;
            z-index: 100;
            padding-right: 1rem;
            transform: translateY(-100%);
            @include transition-ease;

            &.open {
                transform: translateY(0);
            }

            &__item {
                transform: translateX(100vw);
                @include transition-ease;

                &.open {
                    transform: translateX(0);
                }
            }

            &__link {
                display: inline-block;
                color: $tercialy-color;
                font-size: 2rem;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $main-font;
                font-weight: 300;
                font-size: 2rem;
                letter-spacing: 1px;
                padding: 2rem 0;

                @include transition-ease;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

//navbar-web css

.web-navbar {
    height: 10vh;
    width: 100%;

    img {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
    }
    .nav-web {
        height: 10vh;
        width: 100%;

        .menu-nav {
            height: 100%;
            width: 50%;
            float: right;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &__item {
                list-style: none;
                padding-right: 50px;
            }

            &__link {
                color: $primary-color;
                text-decoration: none;
                font-family: $main-font;
                font-weight: 400;
                font-size: 1rem;
                letter-spacing: 1px;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

// NAVBAR responzive (nadefinovat breakpointy, tu mám media-lg (max-width: 1230px) a media-md(max-width: 930px))
@include media-lg {
    .web-navbar {
        display: block;
    }
    .mobile-navbar {
        display: none;
    }
}

@include media-md {
    .mobile-navbar {
        display: block;
    }
    .web-navbar {
        display: none;
    }
}
