@include media-lg {
    .herobanner {
        &__pozice {
            width: 90%;
        }
    }
    .o-nas {
        &__text-section {
            h1 {
                font-size: 4rem;
                margin-bottom: 50px;
            }

            p {
                font-size: 1rem;
            }
        }
        img {
            align-self: center;
        }
    }
    .pozice {
        &__text-section {
            h1 {
                font-size: 4rem;
            }

            ul li {
                text-align: start;
                font-size: 1rem;
                padding: 10px;
                margin-left: 150px;
            }
        }
        img {
            align-self: center;
        }
    }
    .nabizena-pozice {
        &__text-section {
            h1 {
                font-size: 4rem;
            }

            ul li {
                text-align: start;
                font-size: 1rem;
                padding: 10px;
                margin-left: 150px;
            }
        }
        img {
            align-self: center;
        }
    }
}

@include media-md {
    .herobanner {
        &__header {
            height: 90vh;

            &__text-section {
                top: 20%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;

                h1 {
                    font-size: 5rem;
                    font-weight: bolder;
                    margin-bottom: 50px;
                }

                h2 {
                    font-size: 3rem;
                    letter-spacing: 2px;
                    font-weight: bolder;
                    padding-bottom: 20px;
                }

                a {
                    font-size: 1.5rem;
                }
            }
        }

        .web-display {
            display: none;
        }
    }

    .o-nas {
        min-height: 70vh;
        width: 100%;
        display: block;

        &__text-section {
            width: 100%;
            margin: 0;
            padding: 0 25px;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;

            h1 {
                font-size: 5rem;
                font-weight: bolder;
                margin-bottom: 50px;
            }

            p {
                font-size: 1rem;
                line-height: 30px;
            }
        }

        img {
            display: block;
            width: 90%;
            margin: 0 auto;
        }
    }
    .pozice {
        min-height: 70vh;
        width: 100%;
        display: block;

        &__text-section {
            width: 100%;
            margin: 0;
            padding: 0 25px;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;

            h1 {
                font-size: 3.5rem;
                font-weight: bolder;
                margin-bottom: 50px;
            }

            ul li {
                font-size: 1rem;
                margin-left: 20%;
            }
        }

        img {
            display: block;
            width: 90%;
            margin: 0 auto;
        }
    }
    .nabizena-pozice {
        min-height: 70vh;
        width: 100%;
        display: block;

        &__text-section {
            width: 100%;
            margin: 0;
            padding: 0 25px;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;

            h1 {
                font-size: 3.5rem;
                font-weight: bolder;
                margin-bottom: 50px;
            }

            ul li {
                font-size: 1rem;
                margin-left: 20%;
            }
        }

        img {
            display: block;
            width: 90%;
            margin: 0 auto;
        }
    }
    .kontakty {
        h1 {
            padding-top: 50px;
            font-size: 3.5rem;
            font-weight: bolder;
            margin-bottom: 50px;
        }

        p {
            font-size: 1rem;
            margin-bottom: 25px;
        }

        form {
            button {
                margin-top: 25px;
                padding: 5px 15px;
                font-size: 1.5rem;
            }
        }

        .form-flex {
            display: block;

            .left-side {
                .form-group {
                    width: 100%;
                    text-align: center;

                    input {
                        text-align: center;
                        width: 90%;
                        height: 2rem;
                    }
                }
            }

            .right-side {
                .text-group {
                    padding: 0px;
                    width: 100%;
                    text-align: center;

                    textarea {
                        text-align: center;
                        width: 90%;
                        height: 8rem;

                        font-size: 1rem;
                        font-weight: 600;

                        &::placeholder {
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

@include media-sm {
    .herobanner {
        &__header {
            &__text-section {
                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 2rem;
                }

                a {
                    font-size: 1rem;
                }
            }
        }
    }
    .o-nas {
        &__text-section {
            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
    .pozice {
        &__text-section {
            h1 {
                font-size: 2.5rem;
            }

            ul li {
                font-size: 1rem;
                margin-left: 10%;
            }
        }
    }
    .nabizena-pozice {
        &__text-section {
            h1 {
                font-size: 2.5rem;
            }

            ul li {
                font-size: 1rem;
                margin-left: 10%;
            }
        }
    }
}
