$primary-color: black;
// $secondary-color: rgb(11, 172, 5);
$secondary-color: rgb(38, 86, 156);
$tercialy-color: rgb(255, 255, 255);
$fourth-color: rgb(75, 74, 74);

$main-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; ;
