@import "config";
@import "variables";
@import "navbar";
@import "herobanner";
@import "o-nas";
@import "pozice";
@import "contacts";
@import "footer";
@import "nabizene-pozice";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: $main-font;
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

h2 {
    color: $primary-color;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

a {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: none;
}

@import "responzive";
