@import "../../index";

.header__container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    .header-background {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
    }
    .header__social-icons {
        position: absolute;
        top: 30px;
        right: 150px;

        a {
            color: aliceblue;
            font-size: 2rem;
            padding-left: 20px;

            &:hover {
                color: $primary-color;
            }
        }
    }

    #profi-taxi-logo {
        position: absolute;
        width: 100px;
        top: 30px;
        left: 150px;
        opacity: 0.8;
    }

    .header__text-part {
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);

        text-align: center;

        &__buttons {
            margin: 70px auto 0;
            width: 70%;
            display: flex;
            flex-direction: row;
            gap: 50px;
            justify-content: center;
            align-items: center;

            .btn {
                text-transform: uppercase;

                &:first-child {
                    color: rgb(17, 18, 18);
                    background-color: $primary-color;

                    &:hover {
                        background-color: #8deb9021;
                        color: aliceblue;
                    }
                }
            }
        }
    }

    #enyaq-img {
        position: absolute;
        width: 35%;
        bottom: 0;
        left: 50%;
        transform: translateX(-51%);
    }
}

/* =========================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
    .header__container {
        #profi-taxi-logo {
            width: 100px;
        }
        #enyaq-img {
            width: 50%;
            overflow: hidden;
        }
    }
}

/* =========================== MEDIA QUERIES (SMALL DEVICES) =======================*/
@media screen and (max-width: 600px) {
    .header__container {
        #background-video {
            display: none;
        }
        .header__social-icons {
            position: absolute;
            top: 30px;
            left: 50%;
            right: unset;
            transform: translateX(-50%);
            // display: flex;
            // justify-content: center;
            // align-items: center;

            a {
                text-align: center;
                font-size: 1.2rem;
                padding: 0 10px;
            }
        }
        #profi-taxi-logo {
            display: none;
        }
        .header__text-part {
            width: 100%;
            padding: 0 20px;
            top: 150px;
            z-index: 100;

            &__buttons {
                margin-top: 70px;
                flex-direction: column;
                gap: 20px;

                .btn {
                    width: 200px;
                }
            }
        }
        #enyaq-img {
            width: 60%;
        }
    }
}
