header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/*====================== CTA =================*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*====================== HEADER SOCIALS =================*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*================= ME IMAGE ======================*/

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/*=============== SCROLL LINK ======================*/
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
/*=============== COLOR PICKER ======================*/

.color__picker {
    width: 70px;
    position: absolute;
    top: 50px;
    right: 0;
}

.color__picker h5 {
    font-size: 0.7rem;
    margin-bottom: 20px;
    font-weight: 100;
}

.color__picker-btn {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#violet {
    background-color: rgb(127, 18, 127);
}

#blue {
    background-color: rgb(55, 19, 156);
}

/* =========================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* =========================== MEDIA QUERIES (SMALL DEVICES) =======================*/
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .scroll__down,
    .header__socials {
        display: none;
    }

    .color__picker {
        top: 35%;
    }

    /* .header__socials {
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        gap: 2rem;
        font-size: 2rem;
    } */

    header {
        padding-top: 2rem;
    }

    .cta {
        margin-top: 1.5rem;
    }

    /*================= ME IMAGE ======================*/

    .me {
        width: 15rem;
        height: 24rem;
    }
}
