@import "../index";

.header__container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    #background-video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
    }

    #profi-taxi-logo {
        position: absolute;
        width: 200px;
        top: 30px;
        left: 20px;
        opacity: 0.8;
    }

    .header__text-part {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);

        text-align: center;

        &__buttons {
            margin: 70px auto 0;
            width: 70%;
            display: flex;
            flex-direction: row;
            gap: 50px;
            justify-content: center;
            align-items: center;

            .btn {
                text-transform: uppercase;

                &:first-child {
                    color: aliceblue;
                    background-color: $primary-color;

                    &:hover {
                        background-color: #8deb9021;
                    }
                }
            }
        }
    }

    #enyaq-img {
        position: absolute;
        width: 35%;
        bottom: 0;
        left: 50%;
        transform: translateX(-51%);
    }
}

/* =========================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
    .header__container {
        #profi-taxi-logo {
            width: 100px;
        }
        #enyaq-img {
            width: 60%;
            overflow: hidden;
        }
    }
}

/* =========================== MEDIA QUERIES (SMALL DEVICES) =======================*/
@media screen and (max-width: 600px) {
    .header__container {
        .header__text-part {
            top: 20%;

            &__buttons {
                margin-top: 100px;
                flex-direction: column;
                gap: 20px;

                .btn {
                    width: 200px;
                }
            }
        }
        #enyaq-img {
            width: 80%;
        }
    }
}
