:root {
    --main-color:#F8C686;
    --background-color: #565452;
    --main-font: Calibri, sans-serif;
    --navy-blue: #000080;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--main-font);
}


main {
    width: 90%;
    margin: 75px auto;
    text-align: center;
}
h1 {
color: var(--navy-blue);
font-size: 1.5rem;
margin-bottom: 25px;
margin-top: 25px;
}
li {
    text-align: start;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
main {
    width: 60%;
}
}