:root {
    --main-color:#F8C686;
    --background-color: #565452;
    --main-font: Calibri, sans-serif;
    --navy-blue: #000080;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--main-font);
}
header {
    width: 100%;
    height: 54vh;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .text-header {
    text-align: center;
}
header h1 {
    margin-bottom: 40px;
    letter-spacing: 2px;
    color: var(--navy-blue);
    font-size: 2.5rem;
}
header h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding-top: 40px;
    color: var(--navy-blue) ;
}
header h2 span {
    color: var(--background-color);
}
header p {
    font-size: 1.3rem;
    color: var(--background-color);
    margin-bottom: 15px;
}
header p span {
 font-weight: bold;
}

header .image img {
    overflow: hidden;
}
.contacts-container {
    width: 100%;
    height: 1000px;
    background-color: var(--background-color);
    display: block;
    margin: auto;
}
.contacts {
    padding-top: 50px;
    width: 100%;
 margin: auto;
    font-family: var(--main-font);
}
.contact-form {
    padding: 30px 0;
}
header .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
}

form .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer {
    width: 100%;
    min-height: 100px;
}
footer .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer .kontakty {
    padding: 30px 10px;
    flex: 0 0 100%;
    max-width: 100%;
}
footer .reference {
    padding: 30px 10px;
    flex: 0 0 100%;
    max-width: 100%;
}
footer p {
font-size: 1.2rem;
text-align: center;
}
footer h3 {
    text-align: center;

}
.left-side {
    flex: 0 0 100%;
    max-width: 100%;
}
.right-side {
    flex: 0 0 100%;
    max-width: 100%;
}


.form-item {
    margin-bottom: 40px;
    padding: 0 10px;
}

.form-control {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: white;
    border: 1px solid var(--main-color);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--background-color);
    transition: 0.3s all ease;
}
.form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
button {
    cursor: pointer;
}
.row-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-container .contact-form .btn {
   position: absolute;
   right: 20px;
   bottom: 20px;
    height: 50px;
    padding: 0 40px;
    border-radius: 15px;
    background-color: var(--main-color);
    font-size: 1.5rem;
    color: var(--background-color);
    border: none;
}
.contacts-container .contact-form .btn:hover {
    background-color: var(--background-color);
    color: var(--main-color);
}
.contacts  h1 {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 3px;
}
.contacts > p {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 0.8rem;
}
.contacts h1 {
    padding-top: 10px;
    color: var(--main-color);
    font-size: 2rem;
}
.contacts .orange-p {
    color: var(--main-color);
}

.text-group {
    height: 100%;
    position: relative;
}
.text-input {
    position: relative;
    height: 240px;
    width: 100%;
    border-radius: 25px;
    background: white;
    border: 1px solid var(--main-color);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--background-color);
    transition: 0.3s all ease;
    vertical-align:top;
}
/* .text-input [type='text'] {
    height: 150px ;
}
.text-input[type='text']::-webkit-input-placeholder {
    line-height: 50px;
    vertical-align: top;
  } */
.text-input:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

p a {
    color: var(--main-color);
    text-decoration: none;
}
p a:hover {
 text-decoration: underline;
}
.GDPR {
    padding: 0 25px;
}
@media (min-width: 600px) {
    .contacts-container {
height: 100vh;
    }
}

@media (min-width: 768px) {
    header {
        width: 90%;
        height: 94vh;
        margin: 0 auto;
        margin-bottom: 25px;
        justify-content: space-between;
    }
    footer {
        width: 90%;
        margin: 0 auto;
    }
    footer .kontakty {
        padding: 30px 10px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    footer .reference {
        padding: 30px 10px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    header .text-header {
        text-align: start;
    }
 
    .text-header .centered {
        text-align: center;
    }
    .text-header img {
        margin: auto;
    }
    header .image img {
        width: 100%;
        margin: auto;
    }

    .text-header {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .image {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .contacts {
        width: 90%;
        margin: 0 auto;
    }
    .left-side {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .right-side {
        height: 100%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .contacts-container {
        height: 70vh;
    }
    .contacts > p {
        letter-spacing: 2px;
        font-size: 1rem;
    }

}



@media (min-width: 992px) {
    header {
        width: 70%;
    }
    footer {
        width: 70%;
    }
    .contacts {
        width: 80%;
    }
    .form-item {
        margin-bottom: 40px;
        padding: 0 20px;
    }
    .contacts-container .contact-form .btn {
        padding: 0 70px;
    }
}
@media (min-width: 1200px) {
 
    .form-item {
        margin-bottom: 40px;
        padding: 0 25px;
    }
    .text-header {
        /* padding-left: 100px; */
        flex: 0 0 50%;
        max-width: 50%;
    }
    .image {
        flex: 0 0 50%;
        max-width: 50%;
    }
   


}